html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(65, 222, 222);
    font-family: "Emilys Candy", serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

/**-Formatting--*/
/**-allows the webiste to take up all space-*/
.container-fluid {
    width:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

/**-Header&Navigation Bar--*/
#main-header {
    text-align: center;
    padding-top: 1%;
    background-color: rgb(157, 182, 205);
}

#main-header h1 {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
}

nav {
    background-color: rgb(198, 221, 221);
    padding: 2rem 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    list-style: none;
    text-decoration: underline;
    width: 100vw;
}

/*main page and listings*/
main .container .row{
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

main .container .row .col .listing{
    border-radius: 12px;
    border: 2px solid;
    border-color: blue;
    padding-left: 20px;
    padding-right: 20px;
}

main .container .row .col .listing{
    border-radius: 12p;
    border: 2px solid;
    border-color: blue;
    padding-right:20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

main .container .row .col .listing:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
footer{
    padding: 1.5rem;
    background-color: rgb(157, 182, 205);
    margin-top: auto;
    
}
footer #info{
    text-align: center;
}
